#### <font color='purple'><b>Importing libraries :

In [1]:
import pandas as pd
import re
import string
from nltk.corpus import stopwords
from collections import Counter
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer

#### <font color='purple'><b>Read Dataset :

In [2]:
from google.colab import files

In [3]:
uploaded = files.upload()

Saving resumes.csv to resumes.csv

In [4]:
import io
df = pd.read_csv(io.BytesIO(uploaded['resumes.csv']))

In [5]:
df.head()

,Unnamed: 0,resume_text,category
0,0,Name: Ravali P \n\n\n\n ...,Internship
1,1,SUSOVAN BAG \n\nSeeking a challenging po...,Internship
2,2,Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...,ReactJS Developer
3,3,HARIPRIYA BATTINA \n\nExperience as UI Develop...,ReactJS Developer
4,4,KAMALAKAR REDDY. A \n\nLinked In: https://www....,ReactJS Developer

In [6]:
df = df.drop(['Unnamed: 0'],axis=1)
df.head()

                                         resume_text           category
0  Name: Ravali P \n\n\n\n                       ...         Internship
1  SUSOVAN  BAG   \n\nSeeking  a  challenging  po...         Internship
2  Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...  ReactJS Developer
3  HARIPRIYA BATTINA \n\nExperience as UI Develop...  ReactJS Developer
4  KAMALAKAR REDDY. A \n\nLinked In: https://www....  ReactJS Developer

### <font color='magenta'><b>Text Cleaning :

In [7]:
df1 = df.copy()
df1.drop(['category'],axis=1,inplace=True)

#### <font color='maroon'><b>Removing the newline, tab and carriage return characters \n \r \t :

In [8]:
df1['clean_text'] = df1['resume_text'].replace(r'\r+|\n+|\t+','',regex=True)
df1.head()

,resume_text,clean_text
0,Name: Ravali P \n\n\n\n ...,Name: Ravali P ...
1,SUSOVAN BAG \n\nSeeking a challenging po...,SUSOVAN BAG Seeking a challenging positi...
2,Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...,Kanumuru Deepak ReddyCAREER OBJECTIVE:To secur...
3,HARIPRIYA BATTINA \n\nExperience as UI Develop...,HARIPRIYA BATTINA Experience as UI Developer i...
4,KAMALAKAR REDDY. A \n\nLinked In: https://www....,KAMALAKAR REDDY. A Linked In: https://www.link...

#### <font color='maroon'><b>Removing urls :

In [9]:
def remove_url(text):
    return re.sub(r'https?://\S+|www\.\S+', '',text)

In [10]:
df1['clean_text'] = df1['clean_text'].apply(lambda x: remove_url(x))
df1.head()

,resume_text,clean_text
0,Name: Ravali P \n\n\n\n ...,Name: Ravali P ...
1,SUSOVAN BAG \n\nSeeking a challenging po...,SUSOVAN BAG Seeking a challenging positi...
2,Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...,Kanumuru Deepak ReddyCAREER OBJECTIVE:To secur...
3,HARIPRIYA BATTINA \n\nExperience as UI Develop...,HARIPRIYA BATTINA Experience as UI Developer i...
4,KAMALAKAR REDDY. A \n\nLinked In: https://www....,KAMALAKAR REDDY. A Linked In: PROFESSIONAL SU...

#### <font color='maroon'><b>Convert to lowercase :

In [11]:
df1['clean_text'] = df1['clean_text'].str.lower()
df1.head()

,resume_text,clean_text
0,Name: Ravali P \n\n\n\n ...,name: ravali p ...
1,SUSOVAN BAG \n\nSeeking a challenging po...,susovan bag seeking a challenging positi...
2,Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...,kanumuru deepak reddycareer objective:to secur...
3,HARIPRIYA BATTINA \n\nExperience as UI Develop...,haripriya battina experience as ui developer i...
4,KAMALAKAR REDDY. A \n\nLinked In: https://www....,kamalakar reddy. a linked in: professional su...

#### <font color='maroon'><b>Removal of Punctuations :

In [12]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [13]:
def remove_punctuations(text):
    punctuations = string.punctuation
    return text.translate(str.maketrans('','',punctuations))

In [14]:
df1['clean_text'] = df1['clean_text'].apply(lambda x: remove_punctuations(x))
df1.head(10)

,resume_text,clean_text
0,Name: Ravali P \n\n\n\n ...,name ravali p ...
1,SUSOVAN BAG \n\nSeeking a challenging po...,susovan bag seeking a challenging positi...
2,Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...,kanumuru deepak reddycareer objectiveto secure...
3,HARIPRIYA BATTINA \n\nExperience as UI Develop...,haripriya battina experience as ui developer i...
4,KAMALAKAR REDDY. A \n\nLinked In: https://www....,kamalakar reddy a linked in professional summ...
5,Naveen Sadhu\n\n\n\n\n\nTitle: software develo...,naveen sadhutitle software developer ...
6,PRAGNYA PATTNAIK\n\n \n\n \n\n \n\n Expertise:...,pragnya pattnaik expertise having around 2...
7,"SARALA MADASU\n\nSARALA MADASU\n\n 204,Sri ge...",sarala madasusarala madasu 204sri geethika pr...
8,Thirupathamma Balla\n\n\n\nSUMMARY:\n\n\n\n2.8...,thirupathamma ballasummary28 year of it experi...
9,Ui-Developer/ React JS Developer \n\nNAME: KRI...,uideveloper react js developer name krishna pr...

#### <font color='maroon'><b>Removal of Stopwords :

In [17]:
import nltk

In [18]:
 nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [19]:
", ".join(stopwords.words('english'))

"i, me, my, myself, we, our, ours, ourselves, you, you're, you've, you'll, you'd, your, yours, yourself, yourselves, he, him, his, himself, she, she's, her, hers, herself, it, it's, its, itself, they, them, their, theirs, themselves, what, which, who, whom, this, that, that'll, these, those, am, is, are, was, were, be, been, being, have, has, had, having, do, does, did, doing, a, an, the, and, but, if, or, because, as, until, while, of, at, by, for, with, about, against, between, into, through, during, before, after, above, below, to, from, up, down, in, out, on, off, over, under, again, further, then, once, here, there, when, where, why, how, all, any, both, each, few, more, most, other, some, such, no, nor, not, only, own, same, so, than, too, very, s, t, can, will, just, don, don't, should, should've, now, d, ll, m, o, re, ve, y, ain, aren, aren't, couldn, couldn't, didn, didn't, doesn, doesn't, hadn, hadn't, hasn, hasn't, haven, haven't, isn, isn't, ma, mightn, mightn't, mustn, mustn't, needn, needn't, shan, shan't, shouldn, shouldn't, wasn, wasn't, weren, weren't, won, won't, wouldn, wouldn't"

In [20]:
STOPWORDS = set(stopwords.words('english'))

In [21]:
def remove_stopwords(text):
    return " ".join([word for word in text.split() if word not in STOPWORDS])

In [22]:
df1['clean_text'] = df1['clean_text'].apply(lambda x: remove_stopwords(x))
df1.head(10)

,resume_text,clean_text
0,Name: Ravali P \n\n\n\n ...,name ravali p curriculum vitae specialization ...
1,SUSOVAN BAG \n\nSeeking a challenging po...,susovan bag seeking challenging position field...
2,Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...,kanumuru deepak reddycareer objectiveto secure...
3,HARIPRIYA BATTINA \n\nExperience as UI Develop...,haripriya battina experience ui developer reac...
4,KAMALAKAR REDDY. A \n\nLinked In: https://www....,kamalakar reddy linked professional summary ...
5,Naveen Sadhu\n\n\n\n\n\nTitle: software develo...,naveen sadhutitle software developer location ...
6,PRAGNYA PATTNAIK\n\n \n\n \n\n \n\n Expertise:...,pragnya pattnaik expertise around 2 years expe...
7,"SARALA MADASU\n\nSARALA MADASU\n\n 204,Sri ge...",sarala madasusarala madasu 204sri geethika pr...
8,Thirupathamma Balla\n\n\n\nSUMMARY:\n\n\n\n2.8...,thirupathamma ballasummary28 year experience r...
9,Ui-Developer/ React JS Developer \n\nNAME: KRI...,uideveloper react js developer name krishna pr...

#### <font color='maroon'><b>Removal of Least Frequent words :

In [23]:
word_count = Counter()
for text in df1['clean_text']:
    for word in text.split():
        word_count[word] += 1
        
#word_count.most_common(50)

<font color='orange'><b><I>Finding words that occured only once :

In [24]:
for w in word_count.most_common():
    if w[1]<2:
        RARE_WORDS = w
        #print(RARE_WORDS)

In [25]:
def remove_rare_words(text):
    return " ".join([word for word in text.split() if word not in RARE_WORDS])

In [26]:
df1['clean_text'] = df1['clean_text'].apply(lambda x: remove_rare_words(x))
df1.head(10)

,resume_text,clean_text
0,Name: Ravali P \n\n\n\n ...,name ravali p curriculum vitae specialization ...
1,SUSOVAN BAG \n\nSeeking a challenging po...,susovan bag seeking challenging position field...
2,Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...,kanumuru deepak reddycareer objectiveto secure...
3,HARIPRIYA BATTINA \n\nExperience as UI Develop...,haripriya battina experience ui developer reac...
4,KAMALAKAR REDDY. A \n\nLinked In: https://www....,kamalakar reddy linked professional summary ...
5,Naveen Sadhu\n\n\n\n\n\nTitle: software develo...,naveen sadhutitle software developer location ...
6,PRAGNYA PATTNAIK\n\n \n\n \n\n \n\n Expertise:...,pragnya pattnaik expertise around 2 years expe...
7,"SARALA MADASU\n\nSARALA MADASU\n\n 204,Sri ge...",sarala madasusarala madasu 204sri geethika pr...
8,Thirupathamma Balla\n\n\n\nSUMMARY:\n\n\n\n2.8...,thirupathamma ballasummary28 year experience r...
9,Ui-Developer/ React JS Developer \n\nNAME: KRI...,uideveloper react js developer name krishna pr...

#### <font color='maroon'><b>Removal of Special Characters and Additional Spaces :

In [27]:
def remove_spl_chars(text):
    text = re.sub('[^a-zA-Z0-9]'," ",text)
    text = re.sub('\s+',' ',text)
    return text

In [28]:
df1['clean_text'] = df1['clean_text'].apply(lambda x: remove_spl_chars(x))
df1.head(20)

,resume_text,clean_text
0,Name: Ravali P \n\n\n\n ...,name ravali p curriculum vitae specialization ...
1,SUSOVAN BAG \n\nSeeking a challenging po...,susovan bag seeking challenging position field...
2,Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...,kanumuru deepak reddycareer objectiveto secure...
3,HARIPRIYA BATTINA \n\nExperience as UI Develop...,haripriya battina experience ui developer reac...
4,KAMALAKAR REDDY. A \n\nLinked In: https://www....,kamalakar reddy linked professional summary 3 ...
5,Naveen Sadhu\n\n\n\n\n\nTitle: software develo...,naveen sadhutitle software developer location ...
6,PRAGNYA PATTNAIK\n\n \n\n \n\n \n\n Expertise:...,pragnya pattnaik expertise around 2 years expe...
7,"SARALA MADASU\n\nSARALA MADASU\n\n 204,Sri ge...",sarala madasusarala madasu 204sri geethika pre...
8,Thirupathamma Balla\n\n\n\nSUMMARY:\n\n\n\n2.8...,thirupathamma ballasummary28 year experience r...
9,Ui-Developer/ React JS Developer \n\nNAME: KRI...,uideveloper react js developer name krishna pr...
10,Ui-Developer/ React JS Developer \n\nNAME: KRI...,uideveloper react js developer name krishna pr...
11,Kotani Durga Prasad\n\n\n\n\n\nObjective:\n\n\...,kotani durga prasadobjectiveaspirant position ...
12,Venkatalakshmi Pedireddy\n\nSoftware Developer...,venkatalakshmi pedireddysoftware developerexpe...
13,KAMBALA SAI SURENDRA \n\n \n\n \n\n \n\n\n\n...,kambala sai surendra summary project basic kno...
14,MAREEDU LOKESH BABU\n\nPROFESSIONAL OVERVIEW\n...,mareedu lokesh babuprofessional overview aroun...
15,MAREEDU LOKESH BABU\n\n\n\nPROFESSIONAL OVERVI...,mareedu lokesh babuprofessional overview aroun...
16,MD KHIZARUDDIN RAUF \n\n \t EXPERIENCE \n\n ...,md khizaruddin rauf experience currently worki...
17,Pranish Sonone\n\n\t\t\n\n\n\n\n\n\n\n\n\nCare...,pranish sononecareer summaryexperience 1 years...
18,Ranga Gaganam \n\n\n\n \n\nProfessional\n\n \...,ranga gaganam professional summary professiona...
19,SHAIK ABDUL SHARUK \n\n2 years Experience i...,shaik abdul sharuk 2 years experience wipro ca...

In [29]:
df1['clean_text'][4]

'kamalakar reddy linked professional summary 3 years experience ui development enterprise applications web applicationsrelated technologies experience development coding maintenancedesign implementation web applications using html5 css3 javascript j query react js redux well versed designing websites web applications well versed different project management tools eg jira git bit bucket tested cross browser design issues fixed major layout bugs supported browsers selfmotivated good communication interpersonalskills ability work independently multitasking without negative impact timelines orquality work experience march 2021 till date role ui developer enlume technologies hyderabad august 2018 march 2021 role software engineer fortunapix private limitd hyderabad projects title monarch tractor description monarch tractor impacts environment exactly intended without side effects application helpful farmers get tractor alerts updates weather conditions analysis data collection mt platform acts full data collection analysis suit technologies html css3 bootstrap react js javascript title lernbook description fortunapix works digitalization schools providing modern digital education system govt schools antigua barbuda caribbean islands project digitalize animates education content different grades school technologies html css3 react js bootstrap jqery url 2017 2018 web designing development course arena animation dilsuknagar hyderabad 2010 2013 bachelor computers gpullareddy degree pg college hyderabad technical skills javascript librarys reactjs redux css framework bootstrap environment photoshop visual studio webtechnologies html 4 css3 sass operatingsystems windows mac ubuntu scriptinglanguages javascript jquery methodologies agile activities interests cooking playing cricket listening music social activities personal profile father sname murahari reddy gender male maritalstatus single nationality indian known languages telugu english hindi location madhapur hyderabad declaration hereby declare information furnished true correct best knowledge place hyderabad kamalakar reddy date'

### <font color='magenta'><b>Tokenization :

In [31]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [32]:
df1['tokenized_text'] = df1['clean_text'].apply(lambda x: word_tokenize(x))
df1.drop(['resume_text'],axis=1,inplace=True)
df1.head(10)

,clean_text,tokenized_text
0,name ravali p curriculum vitae specialization ...,"[name, ravali, p, curriculum, vitae, specializ..."
1,susovan bag seeking challenging position field...,"[susovan, bag, seeking, challenging, position,..."
2,kanumuru deepak reddycareer objectiveto secure...,"[kanumuru, deepak, reddycareer, objectiveto, s..."
3,haripriya battina experience ui developer reac...,"[haripriya, battina, experience, ui, developer..."
4,kamalakar reddy linked professional summary 3 ...,"[kamalakar, reddy, linked, professional, summa..."
5,naveen sadhutitle software developer location ...,"[naveen, sadhutitle, software, developer, loca..."
6,pragnya pattnaik expertise around 2 years expe...,"[pragnya, pattnaik, expertise, around, 2, year..."
7,sarala madasusarala madasu 204sri geethika pre...,"[sarala, madasusarala, madasu, 204sri, geethik..."
8,thirupathamma ballasummary28 year experience r...,"[thirupathamma, ballasummary28, year, experien..."
9,uideveloper react js developer name krishna pr...,"[uideveloper, react, js, developer, name, kris..."

### <font color='magenta'><b>Lemmatization :

In [33]:
word_lemmatizer = WordNetLemmatizer()

In [35]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [37]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [38]:
df1['lemmatized_text'] = df1['tokenized_text'].apply(lambda x: [word_lemmatizer.lemmatize(i) for i in x])
df1.head(10)

,clean_text,tokenized_text,lemmatized_text
0,name ravali p curriculum vitae specialization ...,"[name, ravali, p, curriculum, vitae, specializ...","[name, ravali, p, curriculum, vitae, specializ..."
1,susovan bag seeking challenging position field...,"[susovan, bag, seeking, challenging, position,...","[susovan, bag, seeking, challenging, position,..."
2,kanumuru deepak reddycareer objectiveto secure...,"[kanumuru, deepak, reddycareer, objectiveto, s...","[kanumuru, deepak, reddycareer, objectiveto, s..."
3,haripriya battina experience ui developer reac...,"[haripriya, battina, experience, ui, developer...","[haripriya, battina, experience, ui, developer..."
4,kamalakar reddy linked professional summary 3 ...,"[kamalakar, reddy, linked, professional, summa...","[kamalakar, reddy, linked, professional, summa..."
5,naveen sadhutitle software developer location ...,"[naveen, sadhutitle, software, developer, loca...","[naveen, sadhutitle, software, developer, loca..."
6,pragnya pattnaik expertise around 2 years expe...,"[pragnya, pattnaik, expertise, around, 2, year...","[pragnya, pattnaik, expertise, around, 2, year..."
7,sarala madasusarala madasu 204sri geethika pre...,"[sarala, madasusarala, madasu, 204sri, geethik...","[sarala, madasusarala, madasu, 204sri, geethik..."
8,thirupathamma ballasummary28 year experience r...,"[thirupathamma, ballasummary28, year, experien...","[thirupathamma, ballasummary28, year, experien..."
9,uideveloper react js developer name krishna pr...,"[uideveloper, react, js, developer, name, kris...","[uideveloper, react, j, developer, name, krish..."

### <font color='purple'><b>Final Dataframe :

In [41]:
df_clean = df1.copy()
#df_clean.drop(['#'])
tokenized = df_clean['lemmatized_text']
for i, tokens in enumerate(tokenized):
    tokenized[i] = ' '.join(tokens)

df_clean.drop(['clean_text','tokenized_text'],axis=1,inplace=True)
df_clean = df_clean.join(df['category'])
df_clean.rename(columns={'lemmatized_text':'clean_text'},inplace=True)
df_clean.head()

                                          clean_text           category
0  name ravali p curriculum vitae specialization ...         Internship
1  susovan bag seeking challenging position field...         Internship
2  kanumuru deepak reddycareer objectiveto secure...  ReactJS Developer
3  haripriya battina experience ui developer reac...  ReactJS Developer
4  kamalakar reddy linked professional summary 3 ...  ReactJS Developer

<font color='orange'><b><I>Saving it in .csv format :

In [43]:
df_clean.to_csv("resume_clean.csv",index=False,encoding='utf-8-sig')
files.download('resume_clean.csv')